In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('/Users/sapuantalaspay/vs_projects/introML/final_ML/scrap_sdu/data/bachelor_ru/parsed/canonical.csv')
df.head()

,lang,faculty,source_url,slug,program_name,degree,program_length,threshold_grant,threshold_paid,ects,english_level,program_description,creative_exam,creative_exam_text,http_status,ok,fetched_at
0,ru,ssbl,https://sdu.edu.kz/ru/%D0%B8%D0%BD%D0%B6%D0%B5...,ssbl__D0-B1-D0-B0-D0-BA-D0-B0-D0-BB-D0-B0-D0-B...,"Похоже, эта страница не существует.",NaN,NaN,NaN,NaN,NaN,Не требуется,NaN,0,NaN,200,True,2025-12-16T13:31:28.922722+00:00
1,ru,ssbl,https://sdu.edu.kz/ru/%D0%B8%D0%BD%D0%B6%D0%B5...,ssbl__D0-B4-D0-BE-D0-BA-D1-82-D0-BE-D1-80-D0-B...,"Похоже, эта страница не существует.",NaN,NaN,NaN,NaN,NaN,Не требуется,NaN,0,NaN,200,True,2025-12-16T13:31:31.352608+00:00
2,ru,ssbl,https://sdu.edu.kz/ru/%D0%B8%D0%BD%D0%B6%D0%B5...,ssbl__D0-BC-D0-B0-D0-B3-D0-B8-D1-81-D1-82-D1-8...,"Похоже, эта страница не существует.",NaN,NaN,NaN,NaN,NaN,Не требуется,NaN,0,NaN,200,True,2025-12-16T13:31:33.433198+00:00
3,ru,ssbl,https://sdu.edu.kz/ru/%D1%84%D0%B0%D0%BA%D1%83...,ssbl__D0-B1-D0-B0-D0-BA-D0-B0-D0-BB-D0-B0-D0-B...,"Похоже, эта страница не существует.",NaN,NaN,NaN,NaN,NaN,Не требуется,NaN,0,NaN,200,True,2025-12-16T13:31:35.533918+00:00
4,ru,ssbl,https://sdu.edu.kz/ru/%D1%84%D0%B0%D0%BA%D1%83...,ssbl__D0-BC-D0-B0-D0-B3-D0-B8-D1-81-D1-82-D1-8...,"Похоже, эта страница не существует.",NaN,NaN,NaN,NaN,NaN,Не требуется,NaN,0,NaN,200,True,2025-12-16T13:31:37.648685+00:00

In [18]:
df.isna().sum()

lang                    0
faculty                 0
source_url              0
slug                    0
program_name            0
degree                 36
program_length         36
threshold_grant        36
threshold_paid         36
ects                   36
english_level           0
program_description    36
creative_exam           0
creative_exam_text     46
http_status             0
ok                      0
fetched_at              0
dtype: int64

In [19]:
df[df['program_description'].isna()].to_csv('s.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lang                 47 non-null     object
 1   faculty              47 non-null     object
 2   source_url           47 non-null     object
 3   slug                 47 non-null     object
 4   program_name         47 non-null     object
 5   degree               11 non-null     object
 6   program_length       11 non-null     object
 7   threshold_grant      11 non-null     float64
 8   threshold_paid       11 non-null     float64
 9   ects                 11 non-null     float64
 10  english_level        47 non-null     object
 11  program_description  11 non-null     object
 12  creative_exam        47 non-null     int64
 13  creative_exam_text   1 non-null      object
 14  http_status          47 non-null     int64
 15  ok                   47 non-null     bool
 16  fetched_at           47 non-null     object
dtypes: bool(1), float64(3), int64(2), object(11)
memory usage: 6.0+ KB